

@media screen and  (max-width: 575px) {

.navstick{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    left: 0;
    height: 62px;
}
.pett{
    margin-top: 16%;
}
.logo-phn{
    width: 65%;
    position: relative;
    bottom: 6px;
}

  .submenu li a {
padding: 0;
line-height: 27px;
  }
  .dropdown-menu li{
    position: relative;
}
.dropdown-menu .submenu{ 
  position: relative;
    left: 40px;
}
.dropdown-menu .submenu-left{ 
    right:100%; left:auto;
}

.dropdown-menu > li:hover{ background-color: #f1f1f1 }
.dropdown-menu > li:hover > .submenu{
    display: block;
}
  
  .custom-toggle-arrow{
        font-size: 18px;
        margin-top: 1px;
        line-height: 10px;
  }
  .serch{
    width: 85%;
    border: 1px solid #fff;
  }

.icon{
    position: absolute;
    float: right;
    background: none;
    top: 4px;
    bottom: 0;
    color: gray;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 3%;
}

.about-font{
    font-weight:200;
}

.dropdown-toggle::after {
    display: inline-block;
vertical-align: 0.255em;
    /* content: ""; */
    border-top: 13px solid;
    border-right: 10px solid transparent;
    border-bottom: 0;
    border-left: 9px solid transparent;
    float: right;
  
}
 .barbtn{
    position: relative;
    left: 18px;
} 
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
    border: none;
}

.sidenav li a{
    font-size: larger;
    margin-left: 8%;
    
}
   
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 4px 8px 5px;;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #D22626;
    
  }
.dropdown-submenu ul li a:hover{
color: #fff;
}
   .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;

  }
  .navbar-nav button{
    width: 80%;
    margin-top: 2%;
    margin-left: 2%;
    
  }
  .navbar-nav li a{
    color: black;
  }
    
.migrt-ph li {
    position: relative;
    right: 29px;
        
    }
    .migrt-ph li ul a{
        position: relative;
        left: 34px;
      
    }
    .logo1{
        width: 180px;
        margin-left: 15px;
    }
.overfY {
    overflow-y: scroll;
    height: 170px;
    overflow-x: hidden;
}
.consult {
    background-image: linear-gradient(to right, #343434, #000000);
    margin-top: 5%;
    margin-right: 11%;
}

.play-img {
    left: 145px;
    top: -44px;
    width: 21%;
}

.team-img {
    width: 100%;
}
.info-img {
    position: relative;
}

.about-msg {
    width: 100%;
    margin-left: 0;
    margin-top: -2%;
}
.assesment-form {
    padding-top: 8%;
}

.about-hide {
    display: none;
}

.rectangle-divM {
    background-image: linear-gradient(to right, #D22626, #691313);
    text-align: center;
    /* display: block; */
}

.rectangle-div {
    display: none;
}

.years {
    font-size: xx-small;
    font-weight: 900;
    
}
.section-red-backgrnd h2{
    padding-right: 22%;
}
.form-select{
    font-size: 1.5rem;
    background-size: 30px;
    margin-left: 0;
}
.formA {
    margin-left: 0;
  }
  

.font {
    font-size: large;
    margin-top: 2%;
    line-height: 12px;
}
.red-line {
    width: 84%;
    margin-left: 9%;
}
.polygon-img {
    width: 5%;
    right: 64px;
}
.clr-line3 {
    bottom: 22px;
}
.award-media {
    font-size: x-large;
    text-align: center;
}

.so-div{
    z-index: 1;
   text-align: center;
 }
.so-img{
    width: 9%;
}
.free{
    border-radius: 26px 26px 26px 29px;
    left: 0;
    width: 100%;
   }
   .free-content {
    padding-left: 0;
   }
   .client-viewbtn{
    padding: 6px;
    width: 50%;
}
.free-content .client-btn{
    width: 90%;
    margin-left: 5%;
}
.freecic2{
    width: 12%;
    left: 60px;
   
}
.clr-line2{
    bottom: 12px;
    right: 0;
   }
.clr-line3{
    margin-top: 0;
   }
.client-photo{
    width: 38%;
    padding-top: 7%;
}
.addres {
    width: 81%;
    margin-left: 10%;
}
.del{
    width: 80%;
    margin-left: 10%;
}
.horizontal-line{
    width: 24%;
 left: -13px;
    bottom: 2px;

}
.video-img{
    height: 274px;
    margin: 2%;
}
.slick-next {
    display: none;
}

.findus{
    margin-left: 18px;
}
.ctext{
    font-size: 12px;
    padding: 6px;
}
.cardt2{
    padding-left: 6px;
}

.video{
    text-align: center;
}

.clr-line{
    width: 57%;
    margin-left: 23%;
}
.video-hide{
    display: none;
}
.excite{
    font-size: small;
}
.card-height{
    height: 267px;
    margin-top: 14%;
}
.horizontal-Cl{
    margin-left: 50px;
    border-bottom: 1px solid red;
     width: 74%;
    position: relative;
    top: 24px;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.top-footer .accordion-item{
    margin: 2%;
   
}
.australia-btn{
    margin-top: 3%;
}

}

@media screen and (min-width: 576px)and (max-width: 992px) {
    .barbtn{
        position: relative;
        left: 78px;
        font-size: x-large;
        top: 8px;
    }
  
    .serch{
        width: 80%;
        margin-top: 5%;
        position: relative;
        left: 53px;
}
    
     .icon{
        position: relative;
        left: 17px;
       
    }
    .logo1 {
        width: 280px;
      
    }
    .about-font{
        font-weight:200;
    }
    .submenu li a {
        padding: 0;
        line-height: 25px;
          }
          .dropdown-menu li{
            position: relative;
        }
        .dropdown-menu .submenu{ 
          
            position: relative;
            left: 40px;
        }
        .dropdown-menu {
           padding-left: 16px;
        } 
        .dropdown-menu .submenu-left{ 
            right:100%; left:auto;
        }
        
        .dropdown-menu > li:hover{ background-color: #f1f1f1 }
        .dropdown-menu > li:hover > .submenu{
            display: block;
        }
        .sidenav a:hover {
            color: #D22626;
            
          }
        .dropdown-submenu ul li a:hover{
        color: #fff;
        }
  
      .custom-toggle-arrow{
            font-size: 18px;
            margin-top: 1px;
            line-height: 10px;
            margin-right: 4px;
      }
    .navstick{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 200;
        left: 0;
        height: 89px;
    }
    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }
    .logo-phn{
        width: 50%;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 59px;
      }
 .sidenav li a{
        font-size: larger;
        margin-left: 8%;
        color: black;
    }
    .navbar-nav button{
        width: 80%;
        margin-top: 2%;
        margin-left: 2%;
        
      }
    .migrt-ph li {
        position: relative;
        right: 29px;
            
        }
      
      .sidenav a {
        padding: 8px 0px 8px 5px;;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
  
    .ctext{
        font-size: 13px;
    line-height: 1.3;
    }
    .cardt2 {
        font-size: 17px;
    }
    .section-migrate {
        right: 53px;
        width: 113%;
        overflow-x: hidden;
    }
  
    .migrate-div{
padding-left: 25px;
    }
.polygon-img{
    width: 3%;
    right: 80px;
}
.card-height{
    margin-top: 10%;
}
.rectangle-divM {
    background-image: linear-gradient(to right, #D22626, #691313);
  right: 0;
    padding-left: 12%;
    margin-top: 4%;
}
    .award-media{
        font-size: xx-large;
    }
.clr-line{
    margin-top: 8%;
}
.clr-line3{
    margin-top: 9%;
}
.info-img{
    position: relative;
  
}
.play-img {
    left: 81px;
    top: -44px;
    width: 31%;
}
.team-img {
    width: 93%;
}
.form-select{
    background-size: 22px;
    margin-left: 30px;
    font-size: 1.5rem;
}
.about-msg{
    margin-top: 7%;
}

.clr-div {
    clip-path: polygon(0% 0, 993% 2%, 0 151%);
    width: 100%;
    height: 375px;
}
.years {
    font-size: small;
    font-weight: 900;
    
}
.study-main {
    position: absolute;
    z-index: 1;
}
.study {
    color: #fff;
    font-size: 4vw;
}
.so-img{
    width: 14%;
}
.so-div{
    margin-top: 12px;
}
.logo-sec {
    margin-top: 4%;
}
.addres {
    width: 69%;
}
.del{
    width: 69%;
}
.horizontal-lineWhite{
width: 68%;
}
.horizontal-line {
left: 45px;
bottom: 2px;
}
.video-hide{
    display: none;
}
.video-img{
    height: 240px;
    /* width: 50%; */
    margin: 2%;
}
 .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
        
    }
    }
  @media screen and (min-width: 993px)and (max-width: 1199px) {
    .barbtn{
        position: relative;
        left: 217px;
        top: 10px;
    } 
    .migrt-ph li {
        position: relative;
        right: 29px;
            
        }
        .navstick{
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 200;
            left: 0;
            height: 89px;
        }
        .search-tab{
            margin-top: 3%;
            margin-left: 22%;
            position: relative;
            left: 28px;
            width: 101%;
        }
        .icon{
            margin-top: 2%;
        }
        .serch{
            width: 85%;
            border: 1px solid #fff;
            margin-top: 2%;
            padding: 6px;
          }
          .logo-phn{
            width: 82%;
        }
        .icon{
            position: relative;
            left: -31px;
            /* bottom: 30px; */
            float: right;
            background: none;
            top: 0;
            bottom: 0;
        }
        .navbar-light .navbar-toggler {
            color: #fff;
            border-color: #fff;
        }
    .sidenav li a{
        font-size: larger;
        margin-left: 8%;
        color: black;
    }
   
      .dropdown-menu li{
        position: relative;
    }
    .dropdown-menu .submenu{ 
      position: relative;
        left: 40px;
    }
    .dropdown-menu .submenu-left{ 
        right:100%; left:auto;
    }
    
    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
      
      .custom-toggle-arrow{
            font-size: 18px;
            margin-top: 1px;
            line-height: 10px;
      }
      .overfY {
        overflow-y: scroll;
        height: 170px;
        overflow-x: hidden;
    }
    .logo1{
        width: 260px;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
      }
      .card-height{
        margin-top: 10%;
    }
      
      .sidenav a {
        padding: 8px 0px 8px 5px;
        text-decoration: none;
        /* font-size: 25px; */
        color: black;
        display: block;
        transition: 0.3s;
      }
      .navbar-nav button{
        width: 80%;
        margin-top: 2%;
        margin-left: 2%;
        
      }
      .dropdown-submenu ul li a:hover{
        color: #fff;
        }
      .sidenav a:hover {
        color: #D22626;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    .section-migrate{
        width: 108%;
        right: 39px;
    }
    .migrate-div {
        padding-left: 6%;
    }
   
    .play-img {
        left: 109px;
    top: -53px;
    width: 20%;

    }
    .rectangle-div{
        width: 53%;
        padding-left: 4%;
    }
    .info-img{
        position: relative;
        padding-top: 15%;
    }
    .years{
        /* width: 120%; */
        font-size: 14px;
    }
    .ctext {
        font-size: 10px;
    }
    .form-select{
        margin-left: 15%;
    }
    .award-media{
        font-size: xx-large;
    }
    .so-img{
        width: 14%;
    }
    .addres{
        width: 68%;
    }
    .freecic2{
        width: 12%;
        left: 60px;
       
    }
    .free-content .client-btn {
        width: 70%;
    }
    .horizontal-line{
        width: 19%;
        bottom: 0px;
        margin-left: 4px;
    }
    .accordion-button:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
    }
    }
    @media screen and (min-width: 1200px)and (max-width: 1399px){
        .girl-img{
            width: 61%;
            margin-left: -24%;
          
        }
        .navbar{
            width: 113%;
        }
        .play-img{
            left: 120px;
            top: -55px;
        }
        .info-img{
            position: relative;
            padding-top: 5%;
        }
        .so-img{
            width: 14%;
        }
        .award-media{
            font-size: xx-large;
        }
        .years {
            font-size: 10px;
        
        }
        .cardshadow {
           
            margin-top: 26px;
        }
        .form-select{
            margin-left: 20%;
        }
        .addres{
            width: 50%;
        }
        .freecic2{
            width: 12%;
            left: 120px;
           
        }
        .menu ul {
            list-style: none;
            position: relative;
            margin: 0;
            padding: 0;
            float: left;
          }
        
          .menu ul a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding-top: 5px;
          }
          .menu ul li{
            float: left;
            position: relative;
          }
          .menu ul ul{
            position: absolute;
            background-color: #fff;
            left:0;
            display: none;
            z-index: 1;
          }
          .menu ul ul li{
            float: none;
            width: 250px;
          }
          .menu ul ul ul{
            left: 100%;
            top: 0px;
          }
          .menu ul li:hover > ul{
            display: block;
            transition: 0.5s;
          }
          .submenu  li a:hover{
            background: #D22626;
          
          }
         
          .menu ul li a:hover{
        color: #fff;
          }
         
          .submenu li a{
            color: black;
            font-size: medium;
            padding-top: 3%;
            padding: 5%;
          }
          .horizontal-line {
            margin-left: 8px;
            width: 18%;
            bottom: 2px;
          }
          .clr-line{
            margin-top: 6%;
          }
            
        
        }
        @media screen and (min-width: 1400px)and (max-width: 1699px){
            .girl-img{
                width: 53%;
                margin-left: -24%;
              
            }
            .info-img{
                position: relative;
                padding-top: 5%;
            }
          .years{
            font-size: 12px;
          }
           .addres{
            width: 40%;
        }
        .horizontal-line {
            margin-left: 24px;
            width: 15%;
            bottom: 2px;
            
        }
        .form-select{
            margin-left: 19%;
        }

        }